* {
    margin: 1rem;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

select {
    width: 300px;
}